{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage",
				"corejs": 3
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		"babel-plugin-styled-components",
		"@babel/plugin-proposal-class-properties",
		[
			"module-resolver",
			{
				"root": ["."],
				"alias": {
					"@ups": "./src"
				}
			}
		]
	]
}
